<div data-role="view" data-title="Add" data-model="app.ordenes.addItemViewModel" data-bind="events: { show: onShow }" id="ordenesModelAddItemView">
    <header data-role="header">
        <div data-role="navbar" class="header-text">
            <span>Hacer pedido</span>
            <a data-role="backbutton" data-align="left">Cancel</a>
            <a data-role="button" data-align="right" data-bind="events: { click: onSaveClick }">Save</a>
        </div>
    </header>
    <!-- START_CUSTOM_CODE_ordenesModel -->
    <!-- END_CUSTOM_CODE_ordenesModel -->
    <div id="editableListForm101" class="form-view">
        <form>
            <ul class="form-content" data-role="listview" data-style="inset">
                <li class="form-content-item">

                    <label>

                        <span>estado</span>

                        <input id="estado" data-bind="value: addFormData.estado" placeholder="estado" type="text">
                    </label>

                </li>
                <li class="form-content-item">

                    <label>

                        <span>numero</span>

                        <input id="numero" data-bind="value: addFormData.numero" placeholder="numero" type="text">
                    </label>

                </li>
            </ul>
        </form>
        <!-- START_CUSTOM_CODE_editableListForm101 -->
        <!-- END_CUSTOM_CODE_editableListForm101 -->
    </div>
</div>